body{
   width:400px;
   height:300px;
   display:inline-block;
   }
   
button {
  height: 30px;
  width: 150px;
  outline: green solid thin;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

div {
	vertical-align: middle; 
	line-height: 15px;
	text-align: left;
	font-size:15px;
}

table {
	table-layout: fixed;
	width: 85%;
	height: 15px;
	text-align: left;
	margin: auto;
}

#button
{
	vertical-align: middle; 
	text-align:center;
}

#div0
{
	vertical-align: middle; 
	line-height: 50px;
	text-align:center;
	font-size:25px;
}

#result
{
	vertical-align: middle; 
	line-height: 15px;
	text-align: left;
	font-size:15px;
}

#probability
{
	vertical-align: middle; 
	line-height: 15px;
	text-align: left;
	font-size:15px;
}